@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Titillium+Web:wght@400;600&display=swap');

/* :root {
    --title-font: @import url('https://fonts.googleapis.com/css2?family=Rubik&family=Titillium+Web:wght@600&display=swap');
} */

html {
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

nav { 
    background-color: #5578ac;
    display: flex;
}

nav a { 
    font-size: 28pt; 
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
    padding: 1em;
    justify-content: flex-end;
}

#logo {
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 28pt;
    
}

#logo > a {
    color: #FFF;
}

#nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

ul > li {
    display: inline-block;
   
}

main div {
    padding: 2em;
}

#about {
    display: flex;
    height: fit-content;
    justify-content: space-around;
    background-color: #FFF6EA;
}

#about-content {
    color: #2E4052;
}

h1 {
    font-size: 48pt;
}

#about-content > p {
    font-size: 24pt;
    padding-right: 40px;
    
}

 #about-content a {
    color: #839788;
    text-decoration: none;
    flex-grow: 1;
 }

 


#about img {
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    max-width: 35%;
    margin-left: 10%;
    
} 

#projects {
    background-color: #839788;
	height: fit-content;
    color: white;
}

#projects h2 {
    font-size: 48pt;
    margin: 0;
}

#projects-content {
    display: flex;
}

#projects-content div {
    border-left: 5px solid #BDD9BF;
    height: fit-content;
    line-height: 1;
    text-emphasis: bold;
    font-size: 18pt;
}

.project {
    padding: 0 48px;
}

.project a {
    color: #FFF;
}
#resume {
    height: fit-content;
    width: 100vw;
    color: #2E4052;
    background-color: #FFF6EA;
}

#resume div {
    padding-bottom: 0;
}

#resume a {
    color: #839788;
    text-decoration: none;
}
#resume-content {
    display: flex;
    justify-content: center;
}

iframe {
    overflow-y: hidden;
    height: 1100px;
    width: 870px;
    border-color: #BDD9BF;
    border-width: 8px;
}
 
iframe  { 
    margin: 0;
}

footer {
    background-color: #5578ac;
    color: #FFF;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#footer-content {
    padding-top: 72px;
    padding-left: 72px;
}

footer ul { 
    margin: 0;
    padding-left: 19.92px;
}

#contact {
    margin-left: 16px;
}

.socials{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 16px;
}

#copyright {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

