* {
    font-family: 'Rubik', sans-serif;
    background-color: #417B5A;
    color: #FFF
}

ul > li {
    display: inline-block;
}

label {
    margin: 5px;
}

input {
    background-color: #FFF;
    color: #000;
}

div > label, input {
    margin: 5px;
}

label {
    align-content: right;
}

button {
    background-color: #FFF;
    color: #000;
    border-radius: 5px;
    border-color: azure;
    padding: 8px;
    align-items: center;
    font-size: larger;
    margin-top: 32px;
}

main {
    padding: 50px;
}

footer {
    text-align: center;
}